._val2017
Grounded-Segment-Anything/
__pycache__/
cache/
celeb-detection-oss/
data_new/
data_new_v2/
erase_1_celebrity/
experiments/
finetuned_model/
gcd_analysis.csv
gcd_analysis_mean.csv
mscoco-30k/
saved_model/
ship_data.tar.gz
src/__pycache__/
timesteps.png
val2017.tar.gz
slurm/logs/
algorithms/MACE/Grounded-Segment-Anything/
algorithms/MACE/cache/